<h1 class="mt-5">Agregar producto</h1>
<hr>

<form [formGroup]="miFormulario" >

    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input formControlName="nombre" class="form-control">
        </div>
        <div  class="col-auto">
            <span appErrorMsg *ngIf="tieneError('nombre')"
            ></span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary" (click)="changeName()">Guardar</button>
            <br>
            <br>
            <button class="btn btn-primary" (click)="changeColor()">Cambiar color</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valido {{miFormulario.valid}}</pre>

<pre>Value: {{miFormulario.value |json}}</pre>